@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #080808;
}

h1, h2, h3, p {
  color: white;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

p{
  font-family: Arial, Helvetica, sans-serif;  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Consulatation Button */
.cbutton {
  background-color: #168CFF;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  border-radius: 5%;
}